%h2.collapsebottom.roman Frequently Asked Questions
%p
	= link_to "How do I sign up?", "#q1"
	%br
	= link_to "How do I make a One Time Payment with my debit/credit card?", "#q2"
	%br
	= link_to "How does an automatic payment plan work?", "#q3"
	%br
	= link_to "How do I sign up for Automatic Payments for on-going classes?", "#q4"
	%br
	= link_to "How do I cancel a subscription to an automatic payment plan?", "#q5"
	%br
	= link_to "How do I change my credit card info for an automatic payment plan?", "#q6"
	%br
	= link_to "How do I close my account?", "#q7"
	%br

%a{ name: "q1" }
%h3 How do I sign up?
%p You must be sent an invite to create an account on the tuition gateway. If you haven't already received an invite via email, please send an email to foo@example.com.
%p If you haven't received your invite email, be sure to check your spam folder as some email services might flag the email as spam.
%p Once you've received your invite via email:
%ol
	%li Click the Sign Up! link in the email. This will open a sign up page in your browser with your name and email address (you can always change this information later).
	%li Enter a password in the "Password" field of at least six characters.
	%li Enter the same password again in the "Confirm Password" field.
	%li Click the "Submit" button.
%p That's it! If something seems to have gone wrong, please send an email to foo@example.com.

%a{ name: "q2" }
%h3 How do I make a One Time Payment with my debit/credit card?
%p You can make one time payments with your credit card to pay for classes or other services.
%p To make a one time payment:
%ol
	%li Navigate to the "My Dashboard" page by clicking on the "My Dashboard" link at the top right of the page.
	%li Click the blue "One Time Payment" button in the body of the page.
	%li Enter the amount you want to pay in decimal format (i.e. 175.00).
	%li Enter your debit/credit card number without dashes or spaces.
	%li Enter the card expiration date in the following format: MM/YY.
	%li Enter the CVC/CVV (three digit code on the back of the card, or four digit code on the front if using AMEX).
	%li Enter a note describing the purpose of the payment (i.e. March Wednesday night workshop).
	%li Click the Submit button.
	%li You should be taken to a confirmation page with details about your charge and you will be emailed a receipt. Please print or save this page for your own records.
%p If there are any errors with your card number, expiration date or CVC/CVV number, an error message should appear at the top of the page in red text. If there are any other errors or you need further assistance, please send an email to foo@example.com.

%a{ name: "q3" }
%h3 How does an automatic payment plan work?
%p You can sign up to have your card charged automatically on the day tuition is due.
%p The following applies to all plans that are available via the tuition gateway.
%ul
	%li Your card will only be charged once per tuition period.
	%li You must sign up for each class you attend separately.
	%li After first signing up for a payment plan, your card won't be charged until the upcoming tuition period starts.
	%li Once signed up, you'll be notified via email the day before each charge will be made.
	%li You can change the credit card used to pay for tuition at any time. [link to how to change credit card info]
	%li You can cancel your subscription at any time. [link to how to cancel subscriptions]
%p If you have any further questions regarding automatic payments, please send an email to foo@example.com.

%a{ name: "q4" }
%h3 How do I sign up for Automatic Payments for on-going classes?
%p You can sign up to have your card charged automatically on the day tuition is due.
%p To sign up for automatic payments:
%ol
	%li Navigate to the "My Dashboard" page by clicking on the "My Dashboard" link at the top right of the page.
	%li Click the blue "Automatic Payments" button in the body of the page.
	%li Select the plan you want to sign up for (you may only sign up for each plan one time per account). For example, if you are a Tuesday night student, select 'Tuesday Night Acting Workshop'.
	%li Enter your debit or credit card number without dashes or spaces.
	%li Enter the card expiration date in the following format: MM/YY.
	%li Enter the CVC/CVV (three digit code on the back of the card, or four digit code on the front if using AMEX).
	%li Click the Submit button.
	%li You will be taken to a confirmation page with details about your plan and will be emailed a receipt. Please print or save this page for your own records.
%p If you come across an error while trying to sign up, please send an email to foo@example.com with details about the error.

%a{ name: "q5" }
%h3 How do I cancel a subscription to an automatic payment plan?
%p You can cancel your subscription to a one time payment plan at any time.
%p To cancel a subscription:
%ol
	%li Navigate to the "My Dashboard" page by clicking on the "My Dashboard" link at the top right of the page.
	%li Each plan you are subscribed to is listed under the "Plans" tab, lower on the page.
	%li Click the red "Cancel" link on the plan you want to cancel.
	%li Confirm your wish to cancel in the pop-up dialogue by clicking "OK".
	%li The line should now show that the Subscription has been deleted.
%p If you come across any errors while trying to cancel your subscription, please send an email to foo@example.com with details about the error.

%a{ name: "q6" }
%h3 How do I change my credit card info for an automatic payment plan?
%p You can change the credit card you use to pay for automatic payments at any time.
%p To change your credit card:
%ol
	%li Navigate to the "My Dashboard" page by clicking on the "My Dashboard" link at the top right of the page.
	%li Each plan you are subscribed to is listed under the "Plans" tab, lower on the page.
	%li Click the blue "Edit Card" link on the plan you want to change cards for.
	%li On the next page, enter the new credit card information.
	%li Click the "Submit" button
	%li You should be take to a page confirming that your card information has been updated.
%p If you come across any errors while trying to update your card information, please send an email to foo@example.com with details about the error.

%a{ name: "q7" }
%h3 How do I close my account?
%p If you would like to close your account, please send an email to foo@example.com.
